// reference/variables/_typography.scss

// Font Family

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font-family-sansserif: 'Lato', Helvetica, Arial, sans-serif;
$font-family-serif:     Georgia, 'Times New Roman', serif;
$font-family-monospace: Consolas, monospace;

$font-family-body:      $font-family-sansserif;
$font-family-heading:   $font-family-serif;


// Font Size

$font-size-base:      18px;

$font-size-smaller:   12px;
$font-size-small:     14px;
$font-size-medium:    16px;
$font-size-large:     20px;
$font-size-larger:    24px;


// Font Weight

$font-weight-light:   100;
$font-weight-normal:  400;
$font-weight-medium:  600;
$font-weight-bold:    700;


// Line Height

$line-height-body:    1.8;
$line-height-heading: 1.2;
