// components/_header.scss

@import '../reference/reference';

$block: 'footer';

.#{$block} {
	font-size: $font-size-small;

	&__body {
		border-top: 2px solid $calux-red-darker;
		padding: 1em 0;
		text-align: center;
	}

	&__spacer {
		display: inline-block;
		margin: auto .5em;
	}
}
