// components/_header.scss

@import '../reference/reference';

$block: 'header';

.#{$block} {
	&__wallpaper {
		background-attachment: scroll;
		background-color: #fff;
		background-image: url('../images/canopy-1500x500.png');
		background-position: top center;
		background-repeat: no-repeat;
		height: 100px;

		@include media-breakpoint-up(md) {
			height: 125px;
		}

		@include media-breakpoint-up(lg) {
			background-attachment: fixed;
			background-size: 100%;
			height: 150px;
		}
	}

	&__logo {
		background-image: url('../images/calgaryux-logo-block.png');
		background-position: center center;
		background-size: 100px 100px;
		border: 2px solid $white;
		border-radius: 2px;
		display: block;
		height: 100px;
		margin: -35px auto 40px;
		width: 100px;

		@include media-breakpoint-up(md) {
			background-size: 150px 150px;
			border-width: 3px;
			height: 150px;
			margin: -55px auto 40px;
			width: 150px;
		}

		@include media-breakpoint-up(lg) {
			background-size: 200px 200px;
			border-width: 5px;
			height: 200px;
			margin: -55px auto 40px;
			width: 200px;
		}
	}

	&__title {
		/* show for Screen Readers only */
		@include sr-only;
	}
}
