---
title: Calgary UX
layout: default
---

<div class="row">
	<div class="col-xs-22 col-xs-push-1 col-sm-20 col-sm-push-2 col-lg-16 col-lg-push-4">
		<p>We are user experience professionals who share a desire to <strong>connect with people</strong> in the Calgary UX community, <strong>showcase the wealth of expertise</strong> within our community, and <strong>draw inspiration</strong> from UX professionals in and outside of our community.</p>
		<p>Our members include designers, developers, content writers, product managers, researchers, and more.</p>

		{{!-- <p>
			Join <a href="https://www.meetup.com/CalgaryUX/">CalgaryUX on Meetup</a> for details about our upcoming events.
		</p>--}}

		<div class="cta">
			<a href="https://www.meetup.com/CalgaryUX/" class="cta__button"><strong>CalgaryUX</strong> on Meetup &rarr;</a>
			<p class="cta__microcopy">
				Join us on Meetup for details about our upcoming events.
			</p>

		</div>
	</div>
</div>