---
layout: default
---

<div class="row">
	<div class="col-xs-22 col-xs-push-1 col-sm-20 col-sm-push-2 col-lg-16 col-lg-push-4">
		<p><strong>Calgary UX aims to inspire and connect user experience professionals</strong> across all disciplines and all industries in Calgary. Together with our members, we form new relationships, showcase local talent, and draw inspiration from the larger UX community.</p>

{{!--<p>We are user experience professionals who share a desire to <strong>connect with people</strong> in the Calgary UX community, <strong>showcase the wealth of expertise</strong> within our community, and <strong>draw inspiration</strong> from UX professionals in and outside of our community.</p>
--}}
		<p>Our members include designers, developers, content writers, product managers, researchers, and more.</p>


		{{!-- <p>
			Join <a href="https://www.meetup.com/CalgaryUX/">Calgary UX on Meetup</a> for details about our upcoming events.
		</p>--}}
{{!--
		<div class="cta">
			<a href="https://www.meetup.com/calgaryux/" class="cta__button"><strong>Calgary UX</strong> on Meetup &rarr;</a>
			<p class="cta__microcopy">
				Join us on Meetup for details about our upcoming events.
			</p>
		</div>
--}}
<div class="row"><div class="col-xs-24 col-md-8"><div class="cta"><a href="https://www.meetup.com/calgaryux/" class="cta__button cta__button--emphasis"><strong>Calgary UX</strong> on Meetup →</a><p class="cta__microcopy">Stay connected to upcoming events</p></div></div><div class="col-xs-24 col-md-8"><div class="cta"><a href="/sponsorship/" class="cta__button">Become a Sponsor</a><p class="cta__microcopy">Every dollar goes to the community</p></div></div><div class="col-xs-24 col-md-8"><div class="cta"><a href="/openings.html" class="cta__button">Become a Volunteer</a><p class="cta__microcopy">It's easy and fun</p></div></div></div>
        {{> current-sponsors }}
	</div>
</div>