---
title: Open Positions
layout: interior
norobots: true
---

{{#markdown}}


## Organizing Member: Logistics

We're looking for a volunteer Organizing Member who will:

* Be responsible for event logistics and venue coordination
* Assist with pre-event setup and take-down

What we ask of you:

* Ensure we have a venue that meets the needs our each event
* Attend bi-monthly meetings
* Attend 90% of events

What you'll get from us:

* Support and coaching about fostering community (if you want it!)
* Dinner when we meet!
* Access to any paid events for free

## Volunteers

We've had amazing volunteer support over the years &mdash; we wouldn't exist without you! It's a great opportunity to get to know the community and build your network.


For volunteers that want to provide support at events, we simply ask:

* Share your contact info on the form that follows, and
* Let us know via [Meetup]({{site.urls.meetup}}) when you plan to attend our events!


{{/markdown}}
<div class="cta">
	<a href="mailto:{{site.emails.info}}?subject=[Calgary%20UX]%20Rapid%20fire%20speaking%20opportunity" class="cta__button">Submit your topic</a>
	<p class="cta__microcopy">
		We love local stories and speakers like you!
	</p>
</div>