---
title: Open Positions
layout: interior
norobots: true
---

{{#markdown}}


## Venue Coordinator

We're looking for a committed volunteer to join the team who will:

* Be responsible for event logistics and venue coordination
* Organize event volunteers to setup and take-down events, as needed

What we ask of you:

* Ensure we have a venue that meets the needs of each event
* Attend evening planning meetings every other month
* Attend 90% of events

What you'll get from us:

* Support and coaching about fostering community (if you want it!)
* Dinner at our planning meetings
* Waived entries fees for any paid Calgary UX events

{{/markdown}}
<div class="cta">
	<a href="https://docs.google.com/forms/d/e/1FAIpQLSeG2IWmCuhnv4Fwe4xNqQ4KN29GZNA9gGPLUTtw2hIielUXAg/viewform?usp=pp_url&entry.1718336607=Venue+Coordinator" class="cta__button">Apply for this role</a>
	<p class="cta__microcopy">
		Takes 2-3 mins
	</p>
</div>

{{#markdown}}
## Event volunteers

We've had amazing volunteer support over the years &mdash; we wouldn't exist without you! It's a great opportunity to get to know the community and build your network.


For volunteers that want to provide support at events, we simply ask:

* Share your contact info on the form that follows, and
* Let us know via [Meetup]({{site.urls.meetup}}) when you plan to attend our events!


{{/markdown}}
<div class="cta">
	<a href="https://docs.google.com/forms/d/e/1FAIpQLSeG2IWmCuhnv4Fwe4xNqQ4KN29GZNA9gGPLUTtw2hIielUXAg/viewform?usp=pp_url&entry.1718336607=Event+Volunteer" class="cta__button">Apply to volunteer</a>
	<p class="cta__microcopy">
		Takes 2-3 mins
	</p>
</div>
