---
title: Rapid fire call for speakers
layout: interior
norobots: true
---

{{#markdown}}

**Are you interested in sharing your story of success (or failure!) with the Calgary UX community?**

We're looking for industry folks to share **examples of how they use/d prototypes to evolve a digital product** (website, web app, mobile app, etc.). What worked and what didn't? How did you test the prototype? What did you learn and how did you apply what you learned to improve the product?

We aren't looking for "how-to" talks on prototype tools. (Unless they'll seriously blow our minds!)

The **format** is a 10 mins talk w/ 5 mins for Q&amp;A.

## Event details

**May 18, 2017 – 6:00pm - 8:00pm**

**Description**
Mock ups and wireframes are too static. We live in the era of designing in the browser and rapid prototyping. Hear stories of success (and maybe failure) from using prototypes in a rich design process. Welcome to your future.

{{!-- Interested? Submit a topic to [{{site.emails.info}}](mailto:{{site.emails.info}}?subject=[Calgary%20UX]%20Rapid%20fire%20speaking%20opportunity). --}}

{{/markdown}}
<div class="cta">
	<a href="mailto:{{site.emails.info}}?subject=[Calgary%20UX]%20Rapid%20fire%20speaking%20opportunity" class="cta__button">Submit your topic</a>
	<p class="cta__microcopy">
		We love local stories and speakers like you!
	</p>
</div>