<footer>
	<div class="row footer">
		<div class="footer__body col-xs-22 col-xs-push-1 col-sm-20 col-sm-push-2 col-lg-16 col-lg-push-4">
			<a href="{{site.urls.meetup}}">Meetup</a><span class="footer__spacer">&middot;</span><a href="{{site.urls.twitter}}">Twitter</a><span class="footer__spacer">&middot;</span><a href="{{site.urls.facebook}}">Facebook</a><span class="footer__spacer">&middot;</span><a href="/sponsorship/">Sponsorship</a>
			<br/>&copy; 2018 Calgary UX
		</div>
	</div>
</footer>