<header class="header">
	<div class="row">
		<div class="col-xs-24 header__wallpaper"></div>
	</div>
	<div class="row">
		<div class="col-xs-24">
			<a href="/" class="header__logo">
				<h1 class="header__title">Calgary UX</h1>
			</a>
		</div>
	</div>
</header>