<footer>
	<div class="row footer">
		<div class="footer__body col-xs-22 col-xs-push-1 col-sm-20 col-sm-push-2 col-lg-16 col-lg-push-4">
			<a href="https://twitter.com/calgaryux">Twitter</a><span class="footer__spacer">&middot;</span><a href="https://www.facebook.com/calgaryux/">Facebook</a><span class="footer__spacer">&middot;</span><a href="/sponsorship/">Sponsorship</a><span class="footer__spacer">&middot;</span>&copy; 2017 Calgary UX
		</div>
	</div>
</footer>