<hr/>
<h4>Current community sponsors</h4>
<br/>
<div class="row sponsor-group">
    <div class="col-xs-24 col-lg-12 sponsor">
        <a href="https://versett.com/" title="Versett">
            <img src="/images/sponsor-assets/versett-logo_bw.png" alt="Versett"/><br/>
            https://versett.com/
        </a>
    </div>
    <div class="col-xs-24 col-lg-12 sponsor">
        <a href="https://www.lighthouselabs.ca/" title="Lighthouse Labs">
            <img src="/images/sponsor-assets/lighthouse-labs-logo_bw.png" alt="Lighthouse Labs"/><br/>
            https://www.lighthouselabs.ca/
        </a>
    </div>
</div>
{{!-- Leave a blank line at the end of this file for the Markdown around it to render properly. --}}
